[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
mysqlclient = "*"
jwt = "*"
transformers = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
torchvision = "*"
tqdm = "*"
ipython = "*"
notebook = "*"

[dev-packages]

[requires]
python_version = "3.9"
